@import url('http://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
	
}
section
{
    position: relative;
    width: 100%;
    padding: 50px;
    background: #111;
    
}
section h2
{
    color: rgba(255, 255, 255, 0.219);
    font-size: 3em;
	transition: 1s;
	animation: neon3 1.5s ease-in-out infinite alternate;
}

section p
{
    color: #fff;
    font-size: 1.2em;
    text-align: justify;

}
.girl
{
    height: 500px;
    float: left;
    shape-outside: url(/babo2.png);
    shape-margin: 30px;
    margin-right: 30px;
    transition: 1s;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    
}
.girl:hover
{
    
    shape-margin: 90px;
    transform: rotateY(80deg) scale(1.2);
}
.boy
{
    
	height: 40%;
	width: 40%;
    float: right;
    shape-outside: url(/logopro.png);
    transition: 1s;
    margin-left: 30px;
    shape-margin: 30px;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
	

	
}
.boy:hover
{
    shape-margin: 70px;
    transform: rotateY(-18deg) scale(1.05);
}
.main button
{
    position: relative;
	padding: 130px 130px;
	
	
}

/* both range slider part */
input[type="range"] 
{
	-webkit-appearance: none;
	width: 50%;
	outline: none;
	height: 10px;
	margin: 0 15px;
	overflow: hidden;
	border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 10px;
	width: 10px;
	background: #0152ff77;
	cursor: pointer;
	box-shadow: -415px 0 0 400px #00000096;
	
	
}
.right input[type=range]{
	width: 40%;
	
}
/* right part */
.right{
	top: 0;
	width: 15%;
	padding: 3px 0;
	display: flex;
	align-items: center;
	flex-direction: column;
    float: left;
    shape-margin: 20px;
    margin-right: 20px;
    transition: 1s;
	
    
}
 .right .middle{
 	width: 100%;
    display: flex;
	align-items: center;
	justify-content: center;

}
.right .middle button{
	border: none;
	height: 70px;
	width: 70px;
	border-radius: 50%;	
    display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
	background: #232427;
	transform-style: preserve-3d;
    transform: perspective(250px);
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
	 inset -5px -5px 15px rgba(255, 255, 255, 0.171),
	 5px 5px 15px rgba(0,0,0,0.3),
	 -5px -5px 10px rgba(255, 255, 255, 0.164);
	 
	 

}

.right .duration{
	margin-top: 3em;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	background-color: #111;
	
	
/*	border: 1px solid #fff;*/
}
.duration input[type="range"] {
	flex: 1;
	background-color: #475466;
	cursor: pointer;
	
}

#play{
	background: #00000000 ;
}


.right i:before{
	
	color: rgba(255, 255, 255, 0.411);
	font-size: 250px;
	margin-left: 50px;

	
	

}
.show_song_no{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background: rgba(255,255,255,0.2);
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.2),
	 inset -2px -2px 5px rgba(255,255,255,0.1),
	 5px 5px 15px rgba(0,0,0,0.3),
	 -5px -5px 15px rgba(255,255,255,0.1);

}
.show_song_no p:nth-child(2){
	margin: 0 5px;
}
.bi-play
{
	transition: 1s;
	transform: rotateY(45deg);
	
	
}
.bi-play:hover
{
 -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
  transform: rotateY(0deg)  translateX(-10px);
  
}
.fa-pause
{
	transition: 1s;
	transform: scale(0.5);
	margin-left: -27px;
	
	
}
.fa-pause:hover
{
 -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
  transform: rotate(0deg);
  transform: scale(0.5);
}


@media(max-width: 1000px){
	.main{
		min-height: 1vh;
		width: 100%;
		flex-direction: column;
		

	}
	.right{

		width: 20%;


	}
	.right .duration{
        width: 90%;
	}
	.main
	{
		transform: scale(50%);
	}
	.boy
	{
		height: 40%;
		width: 40%;

	}
	.boy:hover
	{
		shape-margin: 10px;
        transform: rotateY(0deg) scale(1);
	}

}

@media(max-width: 500px){


	.right .duration
	{
        width: 300%;
		transform: translateX(50px);
	}
	.right
	{
	bottom: 10px;
	float: right;
	margin-right: -100px;
    }

	.boy
	{
		margin-top: 300px;
		margin-right: -20px;
		shape-margin: 20px;
		height: 60%;
		width: 60%;
	}
	section h2
	{
		font-size: 2.2em;
	}
	section p
	{
		font-size: 0.9em;
	}
	.boy:hover
    {
    shape-margin: 10px;
    
    }


}
@keyframes neon2 {
	from {}
	to {
	  text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffffff,
		0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
	}
  }

  @keyframes neon3 {
	from {
	  /*text-shadow: 0 0 5px #fff, 0 0 9px #fff, 
		0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
	*/}
	to {
	  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffffff,
		0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
	}
  }



